/Asesmen 1
/Asesmen 1.zip
/Jurnal 10
/Jurnal 11
/Jurnal 12 ISD
/Jurnal 12 ISD.zip
/Jurnal 13
/Jurnal 2
/Jurnal 3
/Jurnal 4 Doubly Linked List
/Jurnal 4 Doubly Linked List.zip
/Jurnal 5
/Jurnal 8.zip
/Jurnal 9